html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  /* variables */

  --lightgray: #dfdcdd;
  --gray: #262626;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --aliceblue: #f0f8ff;
  --darkgray: #1b1a1a;

  /* defaults */

  --primary: var(--pastel-pink);
  --secondary: var(--pink);
  --tertiary: var(var(--aliceblue));
}

.body {
  background-color: var(--primary);
}

.header,
.menu-card {
  background-color: var(--secondary);
}

.menu-header,
.header {
  font-size: 7.5rem;
  margin: 40px auto;
  padding: 20px 100px;
  text-align: center;
  font-family: "Bangers", cursive;
}

.description {
  font-size: 4.5rem;
  margin: 100px auto;
  padding: 20px 100px;
  text-align: center;
  font-family: "East Sea Dokdo", cursive;
}

.img {
  height: 65vh;
  width: 100vw;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.button {
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  background-color: ;
  border: 1px black solid;
  background-color: var(--tertiary);
}

.button:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.theme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.theme-button {
  background-color: aliceblue;
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  border: 1px black solid;
}

.button,
.theme-button {
  background-color: var(--tertiary);
  font-family: "Caveat", cursive;
}

.theme-button:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parent-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 25vw;
  border: black solid 3px;
  border-radius: 10px;
  font-family: "Caveat", cursive;
}

.menu-card:hover {
  transform: scale(105%);
}

.food-visual {
  float: left;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.light {
  --primary: var(--lightgray);
  --secondary: var(--white);
  --tertiary: var(--aliceblue);
}

.dark {
  --primary: var(--black);
  --secondary: var(--gray);
  --tertiary: var(--darkgray);
  color: white;
}
