html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --pastel-pink: #f8c8dc;
  --pastel-blue: #a7c7e7;
  --pink: #faadb9;
  --blue: rgb(46, 171, 244);

  /* defaults */

  --primary: var(--pastel-blue);
  --secondary: var(--pink);
}

.body {
  background-color: var(--primary);
}

.header,
.menu-card {
  background-color: var(--secondary);
}

.header {
  font-size: 7.5rem;
  margin: 20px auto;
  padding: 20px 100px;
  text-align: center;
}

.img {
  height: 65vh;
  width: 100vw;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.button {
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  background-color: aliceblue;
  border: 1px black solid;
}

.button:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.theme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.theme-button {
  background-color: aliceblue;
  font-size: 30px;
  width: 25vw;
  padding: 20px 20px;
  margin: 30px 0px;
  border: 1px black solid;
}

.theme-button:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parent-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 25vw;
  background-color: var(--secondary);
  border: black solid 3px;
}

.food-visual {
  float: left;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.light {
  --primary: var(--pastel-pink);
  --secondary: var(--pink);
}

.dark {
  --primary: var(--pastel-blue);
  --secondary: var(--blue);
}
