html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --gray: #20272b;
  --light-gray: #3f414c;
}

.header {
  font-size: 7.5rem;
}

.img {
  height: 65vh;
  width: 100vw;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  width: 100rem;
  padding: 20px 20px;
  margin: 30px auto;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  width: 100rem;
  padding: 20px 20px;
  margin: 30px auto;
}

.parent-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 20vw;
}

.food-visual {
  width: 20vw;
}

.light {
}

.dark {
}
